bootloader/build/
python_firmware_upload_script/.venv/
bootloader/.vscode/
bootloader/build.ninja
bootloader/CMakeFiles/
bootloader/CMakeCache.txt
bootloader/cmake_install.cmake
bootloader/compile_commands.json
stm32f401re_bootloader_workspace.code-workspace


